<header>
    <svg  width="40" height="40"        /svg>
    <ul>
        <li>Главная</li>
        <li>Курсы</li>
        <li>Расписание</li>
        <li>Преподаватели</li>
        <li>Рассылка</li>
        <li>Контакты</li>
    </ul>
    <button class="header__btn">Зайти в кабинет</button>

</header>
<main>
    <div class="first__list">
        <h1>Первый курс
            по компьютерной сборке</h1>
        <div class="time">
            <div class="time__box">
                <div class="box__time">18</div>
                <div class="box__txt">Дней</div>
            </div>
            <div class="time__box">
                <div class="box__time">18</div>
                <div class="box__txt">Дней</div>
            </div>
            <div class="time__box">
                <div class="box__time">18</div>
                <div class="box__txt">Дней</div>
            </div>
            <div class="time__box">
                <div class="box__time">18</div>
                <div class="box__txt">Дней</div>
            </div>

        </div>
        <div class="courses">
            <button>Заказать курс</button>
            <div class="courses__party"></div>
            <div class="courses__progress_bar"></div>
        </div>
    </div>
</main>