.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .box1 {
    position: absolute; /* задаем абсолютное позиционирование для элемента */
    top: 150px; /* отступ сверху */
    left: 50px; /* отступ слева */
    width: 200px;
    height: 100px;
  }
  .box2 {
    position: absolute; /* задаем абсолютное позиционирование для элемента */
    top: 250px; /* отступ сверху */
    left: 50px; /* отступ слева */
    width: 200px;
    height: 100px;
  }
  .box3 {
    position: absolute; /* задаем абсолютное позиционирование для элемента */
    top: 350px; /* отступ сверху */
    left: 50px; /* отступ слева */
    width: 200px;
    height: 100px;
  }
  .box4 {
    position: absolute; /* задаем абсолютное позиционирование для элемента */
    top: 450px; /* отступ сверху */
    left: 50px; /* отступ слева */
    width: 200px;
    height: 100px;
  }