<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <div class="first__list">
                <h1>Для админа</h1>
            </div>
           
    </head>
        <head>
            <link rel="stylesheet" type="text/css" href="">
            <p>Hello</p>
        </head>
    <body>
            <button class="burger-menu">
		        <span class="line"></span>
		        <span class="line"></span>
		        <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
	        </button>
    </body>
</html> -->